footer {
  padding-top: $_20;
  background-color: #f5f6f8;
  .black-box {
    position: relative;
    margin-top: $_20;
    height: $_50;
    background-color: $black;
    .bee {
      position: absolute;
      bottom:0;
      right: $_90;
      max-width: 150px;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .site-info {
      padding-top: 10px;
      color: $white;
      font-size: $_12;

      a {
        color: $white;
        text-decoration: underline;

        &:hover {
          color: $white;
          text-decoration: none;
        }

        &.author{
          color: #c9302c;
          text-decoration: none;

          &:hover {
            color: #c9302c;
            text-decoration: underline;
          }
        }
      }
    }
  }
}