.about {
  background-color: #f5f6f8;
  padding: $_20 0;

  @include media-breakpoint-up(md) {
    padding: $_160 0;
  }
  small {
    font-size: $_18;
  }
  .title {
    font-size: $_50;
    padding: $_24 0;
  }
  p {
    font-size: $_24;
  }small {
    font-size: $_18;
  }
  .title {
    font-size: $_30;
    padding: $_12 0;
    @include media-breakpoint-up(md) {
      font-size: $_50;
      padding: $_24 0;
    }
  }
  p {
    font-size: $_24;
  }

  &-text {
    font-size: $_13;
    text-align: center;
    @include media-breakpoint-up(sm) {
      text-align: left;
    }
    p {
      font-size: inherit;
    }
  }

  .btn {
    color:$orange;
    text-transform: uppercase;
    font-weight: $font-weight-light;
    word-break: break-all;
    white-space: normal;
    @include media-breakpoint-down(sm) {
      padding: 26px;
      line-height: 1.4;
    }
    &:hover {
      background-color: $orange;
      color:$black;
    }
  }

}