.more-info {
    position: relative;
    background-color: $orange;
    padding: $_32 0;
    @include media-breakpoint-up(sm) {
        padding: $_160 0;
    }
    .bee {
        position: absolute;
        top: 0;
        right: $_100 * 2;
        transform: translateY(-50%);
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    small {
        font-size: $_18;
    }
    .title {
        font-size: $_30;
        padding: $_24 0;
        line-height: 1.4;
        text-transform: uppercase;
        text-decoration: underline;
        @include media-breakpoint-up(md){
            font-size: $_50;
        }
    }
    p,
    b {
        font-size: $_13;
        text-transform: uppercase;
        @include media-breakpoint-up(md){
            font-size: $_24;
        }
    }
    .bee-slide {
        position: relative;
        .bee {
            display: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -$_30;
            max-width: 200px;
            @include media-breakpoint-up(md) {
                display: block;
            }
        }
    }
    .bee-item {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 247.98px;
        width: 86%;
        height: 288px;
        margin:0 auto;
        margin-bottom: $_32;
        @include media-breakpoint-up(sm){
            height: 260px;

        }
        @include media-breakpoint-up(md) {
            width: 100%;
            height: 243px;
            margin-bottom: 0;
        }

        @include media-breakpoint-up(lg) {
            height: 329.21px;
        }


        transition: transform 0.3s ease;
        background-image: url('../images/bee-item-bg.png');
        background-repeat: no-repeat;
        background-size: contain;
        .text {
            width: 90%;
            color: $black;
            text-align: center;
            position: absolute;
            font-size: $_16;
            font-weight: $font-weight-bold;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background-color: rgba($black, .65);
    z-index: 998;
    overflow: hidden;
}

.bee-modal-wrapper {
   display: none;
    vertical-align: middle;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    top:0;
    left: 0;
    right: 0;
//    z-index: 998;
}

.bee-modal {
    width: 100%;
    min-width: 300px;
    background-color: rgba(#090909, .9);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    color: $orange;
    margin-top: auto;
    top:0;
    padding-top: 0;
    @include media-breakpoint-up(sm) {
        padding-top: 15px;
    }
    @include media-breakpoint-up(md) {
        top: 50%;
        transform: translateY(-50%);
    }

    .row {
        display: flex;
        align-items: center;
    }
    &-content {
        position: relative;
        @include media-breakpoint-down(md) {
            min-height: 1px;
            height: 100vh;
        }
        padding: $_60 0 $_80 0;
        font-size: 18px;
        overflow-y: auto;
    }
    .close-modal {
        display: block;
        padding-top: $_20;
        color: $orange;
        font-size: $_18;
        text-transform: uppercase;
    }
}

.dspf {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}