/*
* Custom variables for pageparts etc.
*/
/*
* Sizes
*/
$img-destination: "../../images/";
$_1: 0.0625rem;
$_2: 0.125rem;
$_3: 0.1875rem;
$_4: 0.25rem;
$_5: 0.3125rem;
$_6: 0.375rem;
$_7: 0.4375rem;
$_8: 0.5rem;
$_9: 0.5625rem;
$_10: 0.625rem;
$_11: 0.6875rem;
$_12: 0.75rem;
$_13: 0.8125rem;
$_14: 0.875rem;
$_15: 0.9375rem;
$_16: 1rem;
$_17: 1.063rem;
$_18: 1.125rem;
$_20: 1.25rem;
$_22: 1.375rem;
$_24: 1.5rem;
$_26: 1.625rem;
$_28: 1.75rem;
$_30: 1.875rem;
$_32: 2rem;
$_34: 2.125rem;
$_36: 2.25rem;
$_38: 2.375rem;
$_40: 2.5rem;
$_45: 2.813rem;
$_50: 3.125rem;
$_55: 3.438rem;
$_60: 3.75rem;
$_65: 4.063rem;
$_70: 4.375rem;
$_75: 4.688rem;
$_80: 5rem;
$_85: 5.313rem;
$_90: 5.625rem;
$_95: 5.938rem;
$_100: 6.25rem;
$_160: 10rem;