$icomoon-font-path: "fonts" !default;

$icon-close: "\e900";
$icon-help: "\e901";
$icon-chevron-right: "\e903";
$icon-chevron-left: "\e904";
$icon-chevron-down: "\e905";
$icon-chevron-up: "\e906";
$icon-check: "\e908";

