select {
    &.form-control {
        font-family: $font-family-open-sans;
        color: $gray-light;
        &:placeholder {
            color: $gray-light;
            font-family: $font-family-open-sans;
        }
        &::-webkit-input-placeholder {
            color: $gray-light;
            font-family: $font-family-open-sans;
        }
    }


    &.form-control-lg {
        @extend %font-size-base;
    }
}